<div id="authors-index" class="row mt-4">
  <div class="col-6">
    <ul>
      <% @authors.each do |author| %>
        <li class="mt-3">
          <%= author.name %>
          <% if author.books %>
            <ul>
            <% author.books.each do |book| %>
              <li>
                <%= book.title %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-6">

    <div class="card mb-4" style="width: 18rem;">
      <%= image_tag "character.png", class: "author-image card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Authors</h5>
        <p class="card-text">This is the page with a listing of all the authors.</p>
      </div>
    </div>

    <h5>New Author Form</h5>
    <%= form_for(@author, html: { class: "new-author-form" }) do |f| %>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :age %><br>
        <%= f.text_field :age, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :location %><br>
        <%= f.text_field :location, class: "form-control" %>
      </div>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>

    <hr>

    <div id="authorResult">
      <h2 id="authorName"></h2>
      <p id="authorAge"></p>
      <p id="authorLocation"></p>
    </div>
  </div>
</div>