<h4 id="bookTitle"><%= @book.title %></h4>
<p id="bookDate">Author: <%= @book.pub_date %></p>
<p id="bookAuthor"><%= @book.author.name %></p>

<ul id="bookSubjects">
  <% @book.subjects.each do |subject| %>
    <li>
      <%= subject.name %>
    </li>
  <% end %>
</ul>

<button class="js-next btn btn-secondary" data-id="<%= @book.id %>" onclick="getNext(); return false;">Next Book</button>
