<h4 id="bookTitle"><%= @book.title %></h4>
<p id="bookDate">Author: <%= @book.pub_date %></p>
<p id="bookAuthor"><%= @book.author.name %></p>

<ul id="bookSubjects">
  <% @book.subjects.each do |subject| %>
    <li>
      <%= subject.name %>
    </li>
  <% end %>
</ul>

<button class="js-next btn btn-secondary" data-id="<%= @book.id %>" onclick="getNext(); return false;">Next Book</button>

<script>
  function getNext() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/books/" + nextId + ".json", function(data) {
      var book = data;
      $("#bookTitle").text(book["title"]);
      $("#bookDate").text(book["pub_date"]);
      $("#bookAuthor").text(`Author: ${book["author"]["name"]}`);

      $("#bookSubjects").text("");
      subjects = book["subjects"];
      subject_count = subjects.length;
      for(var i = 0; i < subject_count; i++) {
        $("#bookSubjects").append("<li>" + subjects[i]["name"] + "</li>")
      }
      
      // $(".productInventory").text(product["inventory"]);
      // // re-set the id to current on the link
      $(".js-next").attr("data-id", book["id"]);
    });
  }
</script>
